@import "compass";
@include global-reset;

body{
  background:#fff;
}

#parallax{
  position:fixed;
  z-index:1;
  overflow: hidden;
  top:0;
  width: 100%;
  height: 100%;
  
  .stage {
    position: relative;
    width: 100%;
    left: 50%;
    margin-left: -400px;
  }
  
  #blue, #yellow, #brown, #green, #grey, #black  { 
    position: absolute;
    left:0;
  }
  #blue {
    background: blue;
    top: 0px;
  }
  #yellow { 
    background: yellow;
    top: 250px; 
  }
  #brown {
    background: brown;
    top: 500px;
  }
  #green {
    background: green;
    top: 750px;
  }
  #grey {
    background: grey;
    top: 1000px;
  }
  #black {
    background: black;
    top: 1250px;
  }
  
  div {
    height: 200px;
    width: 800px;

  }
  
}

#wrapper {
  position: relative;
  z-index: 2;
  width:800px;
  margin:auto;
  
  #first, #second, #third, #forth, #fifth, #sixth{
    clear:both;
    margin:50px 0 0;
  }
  
  p {
    margin-top:10px;
  }
  
  img {
    margin:5px;
  }
}