#parallax
  .stage
    #blue{ :style => 'background:blue; ' }
    #yellow{ :style => 'background:yellow; margin-top: 320px;' }
    #brown{ :style => 'background:brown; margin-top: 640px;' }
    #green{ :style => 'background:green; margin-top: 960px;' }
    #grey{ :style => 'background:grey; margin-top: 1270px;' }
    #black{ :style => 'background:black; margin-top: 1600px;' }
  / =image_tag('http://lorempixum.com/800/200/')
